<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <context-param>
        <param-name>tollfreenumber</param-name>
        <param-value>222222</param-value>
    </context-param>
	<display-name>OnlineShop-14</display-name>
	<filter>
		
		<filter-name>SessionCheckFilter</filter-name>
		<filter-class>com.shop.filter.SessionCheckFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>SessionCheckFilter</filter-name>
		<url-pattern>*.shop</url-pattern>
	</filter-mapping>
	<listener>
		<listener-class>com.shop.listener.ServerStartShutDownListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.shop.listener.SessionCountListener</listener-class>
	</listener>
	<servlet>
		<description>
		</description>
		<load-on-startup>1</load-on-startup>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.shop.servlets.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<init-param>
		    <param-name>email</param-name>
		    <param-value>mike@shop.com</param-value>
		</init-param>
		<servlet-name>ProductServlet</servlet-name>
		<servlet-class>com.shop.servlets.ProductServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>BrandServlet</display-name>
		<servlet-name>BrandServlet</servlet-name>
		<servlet-class>com.shop.servlets.BrandServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>HeaderServlet</display-name>
		<servlet-name>HeaderServlet</servlet-name>
		<servlet-class>com.shop.servlets.HeaderServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AdminLoginServlet</display-name>
		<servlet-name>AdminLoginServlet</servlet-name>
		<servlet-class>com.shop.servlets.AdminLoginServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Head</display-name>
		<servlet-name>Head</servlet-name>
		<servlet-class>com.shop.servlets.Head</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CounterServlet</display-name>
		<servlet-name>CounterServlet</servlet-name>
		<servlet-class>com.shop.servlets.CounterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProductServlet</servlet-name>
		<url-pattern>/product.shop</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BrandServlet</servlet-name>
		<url-pattern>/brand.shop</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HeaderServlet</servlet-name>
		<url-pattern>/HeaderServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminLoginServlet</servlet-name>
		<url-pattern>/adminlogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Head</servlet-name>
		<url-pattern>/Head</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CounterServlet</servlet-name>
		<url-pattern>/CounterServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>login.html</welcome-file>
		
	</welcome-file-list>
	<session-config>
	    <session-timeout>30</session-timeout>
	</session-config>
</web-app>
